html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: $background-gradient;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

i {
    font-size: $xo-fs;
    color: $ScoreBg;

    @include respond(mobile) {
        font-size: $xo-fs-sm;
    }
}
