@import "./abstract/mixins";

@import "./abstract/variables";

@import "./global";

@import "./components/score";
@import "./components/board";
@import "./components/footer";
@import "./components/modal";
@import "./components/animation";

@import "./welcomePage";
