#modal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    article {
        background: $ScoreBg;
        width: 16em;
        height: 10em;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h3 {
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $ScoreText;
        }
    }
    #result {
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: 0.2em;
        margin: 0;
        color: $DarkText;
    }

    #btn-play-again {
        height: 2em;
        width: 10em;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-family: "Barlow Semi Condensed", sans-serif;
        font-weight: 700;
        border: none;
        border-radius: $border-radius;
        color: $ScoreBg;
        background: $ScoreText;
    }
}
